<div class="row">
<h1>Editing</h1>
</div>

<%# if @user_profile.applicant_type == "Parmanent Staff" %>
        <%#= render 'form', pstaff: @pstaff %>
 <%# elsif @pstaff.type_applicant == "Temprary Staff" %>
 		 <%#= render 'form1', pstaff: @pstaff %>
 <%# elsif @pstaff.type_applicant == "Student" %>
        <%#= render 'phd_form', pstaff: @pstaff %>
 <%# elsif @pstaff.type_applicant == "Others" %>
        <%#= render 'othres_form', pstaff: @pstaff %>
<%# end %>
  <%= render 'form',pstaff:@pstaff %>


<div class="row">
	<h1 class="align-left">
<%= link_to 'Show', @pstaff ,class:"btn btn-primary align-right" %> </h1>
<h1 class="align-right">
<%= link_to 'Back', pstaffs_path, class:"btn btn-primary align-left"  %></h1>
</div>
